<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="MyStream.Data.Properties.Settings.MyStreamConnectionString"
            connectionString="Data Source=.\sqlexpress;AttachDbFilename=D:\Personal\Projects\Shokh\MyStream\MyStreamWeb\App_Data\MyStream.mdf;Persist Security Info=True;User ID=sa;Password=janina"
            providerName="System.Data.SqlClient" />
        <add name="MyStream.Data.Properties.Settings.D__PERSONAL_PROJECTS_SHOKH_MYSTREAM_MYSTREAMWEB_APP_DATA_MYSTREAM_MDFConnectionString"
            connectionString="Data Source=.\sqlexpress;Initial Catalog=D:\PERSONAL\PROJECTS\SHOKH\MYSTREAM\MYSTREAMWEB\APP_DATA\MYSTREAM.MDF;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>